<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../static/css/styles.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <header>
        <h1>About IlliniGather</h1>
    </header>

    <div class="container">
        <h2>Our Team</h2>
        <p>IlliniGather is developed by a team of dedicated individuals from UIUC:</p>

        <ul>
            <li>Rhea Moozhayil - Developer</li>
            <li>Ryed Badr - Developer</li>
            <li>Reva Jethwani - Developer</li>
            <li>Raunak Pramanik - Developer</li>
        </ul>

        <h2>Mission</h2>
        <p>IlliniGather's mission is to help students at UIUC discover and engage with campus life effortlessly. We
            provide personalized recommendations for activities and events based on user preferences and real-time
            campus information.</p>

        <h2>Functionality</h2>
        <p>IlliniGather allows users to input their preferences, such as the number of people, weather conditions, the
            type of activity, and the time of day. Based on these preferences, our platform generates itineraries that
            include study spots, restaurants, parties, community/open RSO events, and more.</p>

        <p>Users can upvote or downvote locations and mark their presence at those places. The most popular locations
            will be displayed on the homepage.</p>

        <p>We regularly update the popularity of locations in each category to provide users with the most relevant
            recommendations.</p>
    </div>
</body>

</html>