<!DOCTYPE html>
<html>

<head>
    <title> IlliniGather</title>
    <link href="../static/css/styles.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <h1>Favorites</h1>
    <h3> Check out your previously favorited places!</h3>
    <div class="box">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="favorite"><span class="fa fa-star checked"></span><b> First Favorite Saved</b></div><br>
        <div class="favorite"><span class="fa fa-star checked"></span><b> Second Favorite Saved</b></div><br>
        <div class="favorite"><span class="fa fa-star checked"></span><b> Third Favorite Saved</b></div><br>
        <div class="favorite"><span class="fa fa-star checked"></span><b> Fourth Favorite Saved</b></div><br>
        <div class="favorite"><span class="fa fa-star checked"></span><b> Fifth Favorite Saved</b></div><br>
    </div>