<!DOCTYPE html>
<html>
<head>
    <title>About Us - IlliniGather</title>
    <link href="../static/css/styles.css" type="text/css" rel="stylesheet" />
    
</head>
<body>
    <div class="nav-bar">
        <a class="home" href="../templates/homepage.html">Home</a>
        <a class="about" href="../templates/about.html">About Us!</a>
        <a class="itinerary" href="../Itinerary/itinerary.html">Itinerary</a>
        <a class="voting" href="../Voting/voting.html">Voting System</a>
    </div>

    <div class="container">
        <h1>Welcome to IlliniGather</h1>
        <h2>Students at UIUC can often feel lost when it comes to involvement with campus life. With IlliniGather, a student can gain recommendations based on the input that they provide on what to do, where to go, and find out what other students are up to that very day.</h2>

        <h2>Functionality</h2>
        <ul class="functionality-list">
            <li>Using their net ID, users can enter the webpage. Only users with valid Illinois emails will be allowed to enter the website.</li>
            <li>Users can input their data/preferences (i.e. number of people, weather, what type of activity they want to do, time of day). From these preferences, Illini Gather will generate various itineraries based on what is going on in the area, based on other users' input (see number 3 below).</li>
            <li>Users have the option to "upvote" or "downvote" certain locations, as well as mark if they are at that location. The location, along with the number of votes, will be displayed on the homepage.</li>
            <li>Users can search through study spots, restaurants, parties, community/open RSO events, etc. Different combinations of these types of locations will be generated in the user's different itineraries.</li>
            <li>Based on user input, our webpage will generate personalized ideas – this could include a list of places to go to or an itinerary based on student's votes.</li>
            <li>Popularity of locations in each category refreshes once in a certain amount of time. The amount of time it takes to refresh will be based on our algorithm and once we have enough research to decide when the best time to refresh will be.</li>
        </ul>
    </div>

    <footer>
        <p>&copy; 2023 IlliniGather. All rights reserved.</p>
    </footer>
</body>
</html>
