
<!DOCTYPE html>
<html>
<head>
    <title> IlliniGather</title>
    <link href="../static/css/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
 <h1>Your Friends</h1>
 <h3> Check out your friends and what they're doing right now!</h3>
 <div class="box">
    <div class="favorite"><b> Friend 1</b></div><br>
    <div class="favorite"><b> Friend 2</b></div><br>
    <div class="favorite"><b> Friend 3</b></div><br>
    <div class="favorite"><b> Friend 4</b></div><br>
    <div class="favorite"><b> Friend 5</b></div><br><br>
    <h2>Add More: &nbsp&nbsp&nbsp <input type="text" id="friends" name="friends"></h2> 
    

</div>