
<!DOCTYPE html>
<html>
<head>
    <title> IlliniGather</title>
    <link href="../static/css/styles.css" type="text/css" rel="stylesheet" />
</head>

<div class="nav-bar">
    <a class="home" href="../templates/homepage.html">Home</a>
    <a class="about" href="../templates/about.html">About Us!</a>
    <a class="itinerary" href="../Itinerary/itinerary.html">Itinerary</a>
    <a class="friends" href="../templates/friends.html">Friends</a>
</div>

<body>
 <h1>Your Friends</h1>
 <h3> Check out your friends and what they're doing right now!</h3>
 <div class="box">
    <div class="favorite"><b> <a href="friendchat.html">Friend 1</a></b></div><br>
    <div class="favorite"><b> <a href="friendchat.html">Friend 2</a></b></div><br>
    <div class="favorite"><b> <a href="friendchat.html">Friend 3</a></b></div><br>
    <div class="favorite"><b> <a href="friendchat.html">Friend 4</a></b></div><br>
    <div class="favorite"><b> <a href="friendchat.html">Friend 5</a></b></div><br><br>
    <h2>Add More: &nbsp&nbsp&nbsp <input type="text" id="friends" name="friends"></h2> 
    

</div>