<!DOCTYPE html>
<html>

<head>
    <title> IlliniGather</title>
    <link href="../static/css/styles.css" type="text/css" rel="stylesheet" />
</head>

<div class="nav-bar">
    <a class="home" href="../../homepage.html">Home</a>
    <a class="about" href="../../about.html">About Us!</a>
    <a class="itinerary" href="../../itinerary.html">Itinerary</a>
    <a class="favorites" href="../../favorites.html">Favorites</a>
</div>

<div class="logo">
    <img src="../../Assets/logo.png" alt="logo">
</div>

<h3> Enter your info here and get an itinerary!</h3>

    <form>
        <label for="people">Question 1:</label><br>
        <input type="text" id="netid" name="netid"><br>
    </form>

    <form>
        <label for="place">Question 2:</label><br>
        <input type="text" id="netid" name="netid"><br>
    </form>

    <form>
        <label for="thing">Question 3:</label><br>
        <input type="text" id="netid" name="netid"><br>
    </form>

    <form>
        <label for="netid">Question 4:</label><br>
        <input type="text" id="netid" name="netid"><br>
    </form>

    <form>
        <label for="netid">Question 5:</label><br>
        <input type="text" id="netid" name="netid"><br>
    </form>

    <button type="button">Generate new Itinerary</button>

</body>

</html>