<!DOCTYPE html>
<html>

<head>
    <title>IlliniGather</title>
    <link href="../static/css/styles.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="nav-bar">
        <a class="home" href="../../homepage.html">Home</a>
        <a class="about" href="../../about.html">About Us!</a>
        <a class="itinerary" href="../../itinerary.html">Itinerary</a>
        <a class="favorites" href="../../favorites.html">Favorites</a>
    </div>

    <div class="logo">
        <img src="../../Assets/logo.png" alt="logo">
    </div>

    <h3>Enter your info here and get an itinerary!</h3>

    <form>
        <label for="people">How many people are in the group?</label><br>
    </form>

    <form>
        <label for="place">How late do you want to stay out?</label><br>

    </form>

    <form>
        <label for="thing">Do you want to do something more chill or more energetic?</label><br>

</body>

</html>