<!DOCTYPE html>
<html>
<head>
   <link href="../static/css/styles.css" type="text/css" rel="stylesheet" />
</head>


<div class="nav-bar">

    <a class="home" href="../templates/homepage.html">Home</a>
    <a class="about" href="../templates/about.html">About Us!</a>
    <a class="itinerary" href="../templates/itinerary.html">Itinerary</a>
    <a class="friends" href="../templates/friends.html">Friends</a>
</div>


<div class="logo">

<img src="../../Assets/logo.png" alt="logo">
</div>


<body>


<h3> Unsure what to do today? Ask IlliniGather and hang out with fellow Illini on campus!</h3>
<form>


<a href="generateItinerary.html">
<button type="button">Generate new Itinerary</button>
</a>


<script>
   function getevent1() {
       let event1 = localStorage.getItem("locationName1");
       document.getElementById('one').innerText = event1;
       return event1;
   }

   window.addEventListener("load", (event) => {
       getevent1();
       });
</script>

<script>
   function getevent2() {
       let event2 = localStorage.getItem("locationName2");
       document.getElementById('two').innerText = event2;
       return event2;
   }

   window.addEventListener("load", (event) => {
       getevent2();
       });
</script>




</form>
<h2> Whats happening now?</h2>
<div class="box_home">
   <br><br>
   <h4>Top 1 Event Going On Right Now<h4><button class="upvote" onclick="vote(this, 1, 1)"><b>&uarr;</b></button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span id="voteCount1">0</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button class="upvote" onclick="vote(this, 1, -1)"><b>&darr;</b></button><br>
   <h4>Top 2 Event Going On Right Now<h4><button class="upvote" onclick="vote(this, 2, 1)"><b>&uarr;</b></button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span id="voteCount2">0</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button class="upvote" onclick="vote(this, 2, -1)"><b>&darr;</b></button><br>
   <h4>Top 3 Event Going On Right Now<h4><button class="upvote" onclick="vote(this, 3, 1)"><b>&uarr;</b></button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span id="voteCount3">0</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button class="upvote" onclick="vote(this, 3, -1)"><b>&darr;</b></button><br>
   <h4 id="two">Top 4 Event Going On Right Now<h4><button class="upvote" onclick="vote(this, 4, 1)"><b>&uarr;</b></button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span id="voteCount4">0</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button class="upvote" onclick="vote(this, 4, -1)"><b>&darr;</b></button><br>
   <h4 id="one">Top 5 Event Going On Right Now<h4><button class="upvote" onclick="vote(this, 5, 1)"><b>&uarr;</b></button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span id="voteCount5">0</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button class="upvote" onclick="vote(this, 5, -1)"><b>&darr;</b></button><br>

 </form>
 
<div class="add-button">
   <div class="round-button-circle"><a href="../templates/addlocation.html" class="round-button">+</a></div>
</div>


<div class="round-button">
   <div class="round-button-circle"><a href="../templates/allLocations.html" class="round-button">...</a></div>
</div>

<script>
    function vote(button, eventId, value) {
        var voteCountElement = document.getElementById("voteCount" + eventId);
        var currentCount = parseInt(voteCountElement.textContent);
        
        // Get the current vote state from a data attribute
        var currentVoteState = parseInt(voteCountElement.getAttribute("data-vote-state")) || 0;

        // Check if the user has already voted
        if (currentVoteState) {
            // If the user has already voted in the opposite direction, allow the new vote
            if (currentVoteState == -value) {
                voteCountElement.textContent = currentCount + value * 2;
                voteCountElement.setAttribute("data-vote-state", value);
                return;
            } else {
                // If the user has already voted or tries to vote in the same direction, show an alert
                alert("You have already voted for this event!");
                return;
            }
        }

        // Update the vote count and save the vote state
        var newCount = currentCount + value;
        voteCountElement.textContent = newCount;
        voteCountElement.setAttribute("data-vote-state", value);
    }
    function resetVotes(eventId) {
        var voteCountElement = document.getElementById("voteCount" + eventId);
        var originalCount = 0; // Set the original count value here

        // Update the vote count and reset the vote state
        voteCountElement.textContent = originalCount;
        voteCountElement.setAttribute("data-vote-state", 0);
    }
</script>
    
</div>