/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #17294d;
    text-align: center;
  }



  .nav-bar {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    float: up;
    background-color: #5a647b;
    margin-bottom: 40px;
  }

  .nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-bar a:hover {
    background-color: #7785a3;
    color: #f2f2f2;
  }
  
  h1 {
    color: orange;
    text-align: center;
    font-size: 50px;
  }
  h2 {
    color: white;
    font: 1em sans-serif;
    font-size: 20px;
    padding-top: 50px;
  }
  h3 {
    color: white;
    font: 1em sans-serif;
    font-size: 20px;
  }

  .button {
    padding: 0px;
  }

  .updown {
    padding: 5px 10px;
    text-align: right;
    word-spacing: 150px;

    color: black;
  }
  .upvote {
    color: black;
    font-weight: 100;
    padding: 5px 10px;
    border-radius: 10px;
  }

  form {
    color: white;
    font-size: 25px;
    padding-top: 50px;
    
  }
  .box {
    width: 600px; 
    height: 500px; 
    background-color:rgb(236, 212, 180); 
    padding: 10px;
    padding-right: 50px; 
    text-align: left; 
    margin: 0 auto;
    border-radius: 30px;
      
    /* flex-direction: column; */
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Add more styles as needed */
  

  .add-button {
    width: 11%;
    float: right;
  }

  .add-button-circle {
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    border-radius: 30%;
    border: 5px solid #cfdcec;
    overflow: hidden;

    background: #5a647b;
    box-shadow: 0 0 1px gray;
  }

  .add-button-circle:hover {
    background: #5a647b;
  }

  .add-button a {
    display: block;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    line-height: 1em;
    margin-top: -0.5em;

    text-align: center;
    color: #e2eaf3;
    font-family: Verdana;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
  }



  .round-button {
    width: 11%;
    float: right;
  }

  .round-button-circle {
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    border-radius: 50%;
    border: 5px solid #cfdcec;
    overflow: hidden;

    background: #5a647b;
    box-shadow: 0 0 1px gray;
  }

  .round-button-circle:hover {
    background: #30588e;
  }

  .round-button a {
    display: block;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    line-height: 1em;
    margin-top: -0.5em;

    text-align: center;
    color: #e2eaf3;
    font-family: Verdana;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
  }

  .checked {
    color: rgba(217, 170, 17, 0.571);
    }
  .favorite {
    color: black;
    font: 1em sans-serif;
    font-size: 20px;
    padding-top: 50px;
  }

  .chatbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px; 
    height: 500px; 
    background-color:rgb(236, 212, 180); 
    padding: 10px;
    margin: 0 auto;
    border-radius: 30px;

  }

