/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(23, 41, 77);
    text-align: center;
  }
  
  h1 {
    color: orange;
    text-align: center;
    font-size: 50px;
  }
  h2 {
    color: white;
    font: 1em sans-serif;
    font-size: 20px;
    padding-top: 50px;
  }
  h3 {
    color: white;
    font: 1em sans-serif;
    font-size: 20px;
  }
  .favorite {
    color: black;
    font: 1em sans-serif;
    font-size: 20px;
    padding-top: 50px;
  }

  .updown {
    padding: 5px 10px;
    text-align: right;
    word-spacing: 150px;

    color: black;
  }
  .upvote {
    color: black;
    font-weight: 100;
    padding: 5px 10px;
    border-radius: 10px;
  }

  form {
    color: white;
    font-size: 25px;
    padding-top: 50px;
    
  }
  .box {
    width: 600px; 
    height: 500px; 
    background-color:rgb(236, 212, 180); 
    padding: 10px;
    padding-right: 50px; 
    text-align: left; 
    margin: 0 auto;
    border-radius: 30px;
      
    /* flex-direction: column; */
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .checked {
  color: rgba(217, 170, 17, 0.571);
  }


  /* Add more styles as needed */
